DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_PUBLIC_BUCKET_NAME=minecraft-mods-web-public
R2_PRIVATE_BUCKET_NAME=minecraft-mods-web-private

ADMIN_EMAIL=agusprnyt@gmail.com
BETTER_AUTH_URL=http://localhost:3000

# Midtrans Configuration (Sandbox)
MIDTRANS_SERVER_KEY=SB-Mid-server-...
MIDTRANS_CLIENT_KEY=SB-Mid-client-...
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-...