DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_PUBLIC_BUCKET_NAME=
R2_PRIVATE_BUCKET_NAME=

ADMIN_EMAIL=
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
NEXT_PUBLIC_BETTER_AUTH_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Midtrans Configuration (Sandbox)
MIDTRANS_MERCHANT_ID=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=